<div class="home">

  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <h1>Portail de Vérification d’Identité</h1>
      <p>
        Vérifiez instantanément l’identité d’un citoyen à partir de son
        numéro d’identification unique.
      </p>

      <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()" class="verify-form" >
        <input matInput id=numero type="text" formControlName="numero" placeholder="Entrez le numéro d’identification" />
        <small *ngIf="verifyForm.get('numero')?.touched && verifyForm.get('numero')?.invalid">
                Identifiant invalide
        </small>
        <input matInput id=nom type="text" formControlName="nom" placeholder="Entrez le nom" />
        <small *ngIf="verifyForm.get('nom')?.touched && verifyForm.get('nom')?.invalid">
                Nom invalide
        </small>
        <input matInput id=prenom type="text" formControlName="prenom" placeholder="Entrez le prénom" />
        <small *ngIf="verifyForm.get('prenom')?.touched && verifyForm.get('prenom')?.invalid">
                Prénom invalide
        </small>
        <input matInput id=dateNaissance type="date" formControlName="dateNaissance" placeholder="Entrez la date de naissance" />
        <small *ngIf="verifyForm.get('dateNaissance')?.touched && verifyForm.get('dateNaissance')?.invalid">
                Date de naissance invalide
        </small>
        <button type="submit">Vérifier</button>

      </form>

      <div class="result-area">
        <div *ngIf="loading" class="spinner-area">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <div *ngIf="isSucces && successMessage" class="found">
            {{ successMessage }}
        </div>
        <div *ngIf="!loading && errorMessage" class="not-found">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </section>

  <!-- COMMENT ÇA MARCHE -->
  <section class="steps">
    <h2>Comment ça fonctionne</h2>
    <div class="step-list">
      <div class="step">
        <span>1</span>
        <p>Saisissez le numéro d’identification</p>
      </div>
      <div class="step">
        <span>2</span>
        <p>Le système analyse les données</p>
      </div>
      <div class="step">
        <span>3</span>
        <p>Les informations sont affichées instantanément</p>
      </div>
    </div>
  </section>

</div>


