<div class="home">

  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <h1>Portail de Vérification d’Identité</h1>
      <p>
        Id verify permet de Vérifier instantanément l’identité d’un citoyen à partir de son
        numéro d’identification unique.
      </p>
      <p>Allez la la page <a routerLink="/verifier" routerLinkActive="active"> vérifiez un numéro </a></p>
    </div>
  </section>

  <!-- CONFIANCE -->
  <section class="trust">
    <h2>Pourquoi utiliser ce portail ?</h2>
    <div class="trust-list">
      <div class="trust-item">🔒 Sécurité des données</div>
      <div class="trust-item">⚡ Vérification rapide</div>
      <div class="trust-item">📊 Données fiables</div>
      <div class="trust-item">🌍 Accessible 24h/24</div>
    </div>
  </section>

</div>

